
.idea/
.vscode/
.DS_Store
Thumbs.db
desktop.ini
*.log


ai_model/.venv/
ai_model/__pycache__/
ai_model/**/*.pyc
ai_model/**/*.pyo
ai_model/**/*.pyd
ai_model/.pytest_cache/
ai_model/.mypy_cache/
ai_model/.ipynb_checkpoints/


ai_model/runs/
ai_model/checkpoints/
ai_model/logs/
ai_model/tmp/
ai_model/temp/


ai_model/outputs/


# ai_model/dataset/


flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/.pub/
flutter_app/build/


flutter_app/android/.gradle/
flutter_app/android/local.properties
flutter_app/android/captures/

# Keystore / signing
*.jks
*.keystore
key.properties
flutter_app/android/key.properties


*.apk
*.aab

flutter_app/ios/Flutter/ephemeral/
flutter_app/ios/Flutter/Generated.xcconfig
flutter_app/ios/Flutter/flutter_export_environment.sh
flutter_app/ios/Pods/
flutter_app/ios/.symlinks/

flutter_app/macos/Flutter/ephemeral/
flutter_app/macos/Pods/
flutter_app/macos/.symlinks/


flutter_app/linux/flutter/ephemeral/
flutter_app/windows/flutter/ephemeral/


*.tmp
*.temp
*~